@import 'tailwindcss';

@theme {
  --color-on-surface-variant: #434655;
  --color-tertiary-fixed: #6ffbbe;
  --color-primary: #004ac6;
  --color-secondary: #4b41e1;
  --color-on-primary-fixed-variant: #003ea8;
  --color-on-tertiary: #ffffff;
  --color-outline: #737686;
  --color-on-error: #ffffff;
  --color-on-tertiary-fixed: #002113;
  --color-primary-container: #2563eb;
  --color-on-background: #131b2e;
  --color-on-secondary-fixed: #0f0069;
  --color-on-primary-fixed: #00174b;
  --color-tertiary-fixed-dim: #4edea3;
  --color-surface-bright: #faf8ff;
  --color-surface-container: #eaedff;
  --color-surface-dim: #d2d9f4;
  --color-outline-variant: #c3c6d7;
  --color-tertiary: #006242;
  --color-tertiary-container: #007d55;
  --color-on-tertiary-container: #bdffdb;
  --color-surface-container-low: #f2f3ff;
  --color-surface: #faf8ff;
  --color-on-primary: #ffffff;
  --color-on-error-container: #93000a;
  --color-error: #ba1a1a;
  --color-secondary-fixed: #e2dfff;
  --color-background: #faf8ff;
  --color-surface-container-lowest: #ffffff;
  --color-primary-fixed: #dbe1ff;
  --color-on-secondary-container: #fffbff;
  --color-primary-fixed-dim: #b4c5ff;
  --color-surface-container-high: #e2e7ff;
  --color-inverse-surface: #283044;
  --color-on-primary-container: #eeefff;
  --color-surface-tint: #0053db;
  --color-surface-variant: #dae2fd;
  --color-on-surface: #131b2e;
  --color-secondary-fixed-dim: #c3c0ff;
  --color-on-tertiary-fixed-variant: #005236;
  --color-on-secondary-fixed-variant: #3323cc;
  --color-error-container: #ffdad6;
  --color-surface-container-highest: #dae2fd;
  --color-inverse-primary: #b4c5ff;
  --color-secondary-container: #645efb;
  --color-inverse-on-surface: #eef0ff;
  --color-on-secondary: #ffffff;
}

body { font-family: 'Plus Jakarta Sans', sans-serif; }
